<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <appSettings>
        <add key="OnLogon"
             value=""/>
        <add key="LogEnabled"
             value="false"/>
        <add key="LogPath"
             value=""/>
        <add key="Description"
             value="Logon Service for running applications on logon screen"/>
        <add key="DisplayName"
             value="Logon Service"/>
        <add key="ServiceName"
             value="LogonService"/>
    </appSettings>
</configuration>
