<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.8.0" />
    </startup>
    <appSettings>
        <add key="App"
             value="" />
        <add key="App.Arguments"
             value="" />
        <add key="App.Restart"
             value="false" />
        <add key="App.RestartLimit"
             value="10" />
        <add key="LogEnabled"
             value="false" />
        <add key="LogPath"
             value="" />
        <add key="Description"
             value="Logon Service for running applications on logon screen" />
        <add key="DisplayName"
             value="Logon Service" />
        <add key="ServiceName"
             value="LogonService" />
    </appSettings>
</configuration>